h1.extra1 
{
    font-size: 32px;
    text-align: center;
}

h2.extra1 
{
    
}

p.extra1 
{
    font-size: 25px;
    color: red;
    text-align: center;
}

h1 
{
    font-size: 40px;
}

h2
{
    font-size: 30px;
}

h3
{
    font-size: 20px;
}

h4
{
    font-size: 18px;
}

h5
{
    font-size: 16px;
}

h6
{
    font-size: 14px;
}

p, ol, ul 
{
	margin-top: 0px;
    font-size: 14px;
}

p, ol 
{
	line-height: 140%;
	font-size: 14px;
}

strong 
{
    
}

.esteticaNameBig 
{
    font-family: Vivaldi;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    color: #85200e;
}

.esteticaNameLogoHeader 
{
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: #85200e;
    position: absolute;
    top: 70px;
    left: 0px;
}
.esteticaNameLogo 
{
    
    font-family: Vivaldi;
    font-size: 80px;
    text-align: left;
    font-weight: bold;
    color: #85200e;
    vertical-align: text-bottom;
    position: absolute;
    top: 90px;
    left: 0px;
}