h1.extra1 
{
    font-size: 32px;
    text-align: center;
}

h2.extra1 
{
    
}

p.extra1 
{
    font-size: 25px;
    color: red;
    text-align: center;
}

h1 
{
    font-size: 40px;
}

h2
{
    font-size: 30px;
}

h3
{
    font-size: 20px;
}

h4
{
    font-size: 18px;
}

h5
{
    font-size: 16px;
}

h6
{
    font-size: 14px;
}

p, ol, ul 
{
	margin-top: 0px;
    font-size: 14px;
}

p, ol 
{
	line-height: 140%;
	font-size: 14px;
}

strong 
{
    
}

/****/
/** Logo **/
/****/
.esteticaNameBig 
{
    font-family: Vivaldi;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    color: #85200e;
}

.esteticaNameLogoHeader 
{
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: #85200e;
    text-height: text-size;
}
.esteticaNameLogo 
{
    
    font-family: Vivaldi;
    font-size: 80px;
    text-align: left;
    font-weight: bold;
    color: #85200e;
    text-height: text-size;
}

/****/
/** Menu **/
/****/

#menu 
{
	width: 294px;
	height: 450px;
	font-family: Century Gothic
}

#menu ul 
{
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li 
{
}

#menu a 
{
	padding-right: 30px;
	text-decoration: none;
	text-shadow: 2px 2px 2px #3B1505;
	text-transform: uppercase;
	font-size: 25px;
	color: darkgrey;
}

#menu a:hover 
{
	text-decoration: mediumorchid;
	color: white;
	text-shadow: 2px 2px 2px #3B1505;
	font-size: 27px;
	
}

.test 
{
	text-decoration: mediumorchid;
	color: white;
	text-shadow: 2px 2px 2px #3B1505;
	font-size: 27px;
}

#menu1
{
	height: 40px;
	padding: 60px 0px 0px 0px;
	background: url(../Images/homepage02.jpg) no-repeat left top;
	text-align: right;
}

#menu2 
{
	height: 41px;
	padding: 13px 0px 0px 0px;
	background: url(../Images/homepage03.jpg) no-repeat left top;
	text-align: right;
}

#menu3 
{
	height: 41px;
	padding: 13px 0px 0px 0px;
	background: url(../Images/homepage04.jpg) no-repeat left top;
	text-align: right;
}

#menu4 
{
	height: 41px;
	padding: 13px 0px 0px 0px;
	background: url(../Images/homepage05.jpg) no-repeat left top;
	text-align: right;
}

#menu5 
{
	height: 82px;
	padding: 14px 0px 0px 0px;
	background: url(../Images/homepage06.jpg) no-repeat left top;
	text-align: right;
}

img.galleryItem 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

img.galleryItem:hover 
{
    border-style: groove;
    border-width: 5px;
    border-color: black;
}

table.gallery 
{
    width: 100%;
}

td.galleryItem 
{
    height: 140px;    
}

.photoDialog 
{
	background-color: black;	
}

.ui-dialog,.ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .foo, .ui-draggable, .ui-resizable 
{
	background: black !important;
}​