@{
    ViewBag.Title = "Contact";
}
<p style="text-align: center;">
    <strong>
        <h3 style="text-align: center">
            <span>Salon kosmetyczny </span>
        </h3>
    </strong>
    <p class="esteticaNameBig">
        Estetica</p>
</p>
<p style="text-align: center;">
    <span><strong>ul. Raciborska 3 (nad apteką całodobową)</strong></span><br />
    <span><strong>44-200 Rybnik</strong> </span>
</p>
<p style="text-align: center;">
    <span>tel.: <strong>32 422 93 38 </strong></span>
    <br />
    <span>e-mail: <strong>kerola1@wp.pl </strong></span>
</p>
<p style="text-align: center;">
    <span>godziny otwarcia :</span></p>
<span>
    <span>
        <p style="text-align: center;">
            <span>pon-pt: <strong>9.00-18.00</strong></span></p>
        <p style="text-align: center;">
            <span>soboty: <strong>8.00-14.00</strong> </span>
        </p>
        <p style="text-align: center;">
            <span>Możliwość umówienia w innych godzinach</span></p>
    </span>
</span>
<p style="height: 200px"></p>
