@model Greg.Estetica.Core.Model.Gallery

@{
    int skipCount = 0;

    int rowCount = 3;

    int count = 0;

    ViewBag.Title = "Gallery";
}

<div>
    <table class="gallery">
        @do
        {
            var row = Model.Thumbnails.Skip(skipCount).Take(rowCount);

            count = row.Count();

            <tr>
                @foreach (var rowItem in row)
                {
                    <td class="galleryItem">
                        <img src="@Url.Content(rowItem.Path)" class="galleryItem" data-title="@rowItem.Title" data-description="@rowItem.Description">
                    </td>
                }
            </tr>

                skipCount += rowCount;

        } while (count > 0);
    </table>
</div>

<div id="dialog-modal" class="photoDialog">
    <div id="galleria">
        @foreach (var photo in Model.Photos)
        {
            <img src="@Url.Content(photo.Path)">
        }
    </div>
    <script>
        Galleria.loadTheme('Content/galleria/themes/classic/galleria.classic.min.js');
        
        Galleria.run('#galleria');
        
    </script>
</div>

