@{
    ViewBag.Title = "Index";
}
@*<h2 class="title">
    <span>Veroeros</span> dictum sed consequat</h2>*@
<h1 class="title">
    <span>Witamy serdecznie w salonie kosmetycznym</span>
</h1>
<p class="byline">
    Posted by <a href="#">someone</a> on February 3, 2011 in <a href="#">news</a></p>
<div class="content">
    @*<div class="image-style1">
        <span>
            <img src="images/picture2.gif" width="230" height="196" alt="" /></span>
        <div class="thumbnails">
        </div>
    </div>*@
    <p>
        <strong>Wychodząc naprzeciw Państwa potrzebom powstał salon,w którym zadbamy nie tylko
            o wygląd zewnętrzny, ale także o dobre samopoczucie i mile spędzony czas. Nasze
            profesjonalne usługi potwierdzone są wieloma certyfikatami. Ciągle doskonalimy swoje
            kwalifikacje biorąc udzial w licznych szkoleniach i targach branży kosmetycznej.
            Dzięki profesjonalnie wykonanym zabiegom wyjdą Państwo w pełni zadowoleni z naszego
            gabinetu. Znajdujemy się w samym sercu miasta, dlatego też nietrudno nas znaleźć.
            Serdecznie zapraszamy do zapoznania się z naszą ofertą. </strong>
    </p>
    <p style="height: 80px">
        <h1 class="extra1">
            Umów się na wizytę u nas już dziś
        </h1>
        <p class="extra1">
            tel: 32 42-29-338</p>
        <p>
            <strong>Spraw wspaniały prezent bliskiej Ci osobie - kup BON UPOMINKOWY i podaruj jej
                odrobinę relaksu i piękna. </strong>
        </p>
        <p style="height: 165px">
        </p>
    @*<ol>
        <li><a href="#">Integer sit amet pede vel arcu aliquet pretium.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
        <li><a href="#">Phasellus nec erat sit amet nibh pellentesque congue.</a></li>
        <li><a href="#">Pellentesque quis elit non lectus gravida blandit.</a></li>
        <li><a href="#">Maecenas vitae orci vitae tellus feugiat eleifend.</a></li>
        <li><a href="#">Duis non ante in metus commodo pellentesque.</a></li>
    </ol>*@
</div>
