@{
    ViewBag.Title = "Ofert";
}
<h1>Oferujemy między innymi:</h1>
<ul>
    <li>
        
            
                    kosmetykę pielęgnacyjną twarzy
            
        
    </li>
    <li>
        mikrodermabrazję diamentową</li>
    <li> 
        ultradźwięki </li>
    <li>
        pielęgnację dłoni i stóp (manicure, pedicure)</li>
    <li>
        manicure SPA </li>
    <li> 
        depilację woskiem </li>
    <li> 
        przekłuwanie uszu </li>
    <li> 
        makijaż permanentny </li>
    <li> 
        przedłużanie rzęs metodą 1:1 </li>
    <li> 
        stylizację paznokci metodą żelową </li>
    <li> 
        odbudowę paznokci obgryzionych oraz rekonstrukcję paznokci zniszczonych chorobowo
        czy pourazowo </li>
</ul>
<p>
     
     
</p>
<p>
     Mikrodermabrazja
        diamentowa(peeling mechaniczny) jest w pełni bezpieczną a zarazem bardzo skuteczną
        metodą, będącą alternatywą dla medcyny estetycznej.Poprawia ona funkcjonowanie skóry
        i pomaga uporać sie z problemami skóry takimi jak: </p>
<ul>
    <li> 
        trądzik pospolity(zaskórnikowy,grudkowy) </li>
    <li> 
        blizny </li>
    <li> 
        łojotok </li>
    <li> 
        suchość skóry </li>
    <li> 
        rozszerzone pory </li>
    <li> 
        przebarwienia i odbarwienia </li>
    <li> 
        szorstki,zrogowaciały naskórek </li>
    <li> 
        odmłodzenie skóry i likwidacja delikatnych zmarszczek </li>
    <li> 
        wiotkoć skóry </li>
</ul>
<p>
     Wpływ mikrodermabrazji na skórę:  </p>
<ul>
    <li> 
        poprawa jakości skóry(struktury i kolorytu) </li>
    <li> 
        zwiększenie elastyczności </li>
    <li> 
        zmniejszenie rozszerzonych porów </li>
    <li> 
        spłycenie powierzchownych zmarszczek, wgładzenie skóry </li>
    <li> 
        usunięcie przebarwień skóry </li>
    <li> 
        zmniejszenie łojotoku </li>
    <li> 
        skóra świeższa i młodsza </li>
</ul>
<p>
     Peeling
        kawitacyjny czyli oczyszczanie skóry za pomocą
            wibracji ultradźwiękowej, wzbogacone o mikromasaż, który poprawia mikrokrążenie
            i dotlenienie komórkowe oraz zwiększa penetrację substancji aktywnych w głąb skóry.
            Pozwala na dokładne usunięcie nadmiaru sebum z porów i mieszków włosowatych, pozbycie
            się zaskórników, wągrów i bakterii. Wygładza skórę, doskonale nawilża i stymuluje
            naturalne nawodnienie oraz zmiękcza naskórek. Działa kojąco i regenerująco na skórę. </p>
