@{
    ViewBag.Title = "Ofert";
}
<h1>Oferujemy między innymi:</h1>
<ul>
    <li>
        <span style="font-family: verdana,geneva;">
            
                    kosmetykę pielęgnacyjną twarzy
            
        </span>
    </li>
    <li><span style="font-family: verdana,geneva;">
        mikrodermabrazję diamentową</span></li>
    <li><span style="font-family: verdana,geneva;">
        ultradźwięki</span></li>
    <li><span style="font-family: verdana,geneva;">
        pielęgnację dłoni i stóp (manicure, pedicure)</span></li>
    <li><span style="font-family: verdana,geneva;">
        manicure SPA</span></li>
    <li><span style="font-family: verdana,geneva;">
        depilację woskiem</span></li>
    <li><span style="font-family: verdana,geneva;">
        przekłuwanie uszu</span></li>
    <li><span style="font-family: verdana,geneva;">
        makijaż permanentny</span></li>
    <li><span style="font-family: verdana,geneva;">
        przedłużanie rzęs metodą 1:1</span></li>
    <li><span style="font-family: verdana,geneva;">
        stylizację paznokci metodą żelową</span></li>
    <li><span style="font-family: verdana,geneva;">
        odbudowę paznokci obgryzionych oraz rekonstrukcję paznokci zniszczonych chorobowo
        czy pourazowo</span></li>
</ul>
<p>
    <span style="font-family: verdana,geneva;">
    </span>
</p>
<p>
    <span style="font-family: verdana,geneva;">Mikrodermabrazja
        diamentowa(peeling mechaniczny) jest w pełni bezpieczną a zarazem bardzo skuteczną
        metodą, będącą alternatywą dla medcyny estetycznej.Poprawia ona funkcjonowanie skóry
        i pomaga uporać sie z problemami skóry takimi jak:</span></p>
<ul>
    <li><span style="font-family: verdana,geneva;">
        trądzik pospolity(zaskórnikowy,grudkowy)</span></li>
    <li><span style="font-family: verdana,geneva;">
        blizny</span></li>
    <li><span style="font-family: verdana,geneva;">
        łojotok</span></li>
    <li><span style="font-family: verdana,geneva;">
        suchość skóry</span></li>
    <li><span style="font-family: verdana,geneva;">
        rozszerzone pory</span></li>
    <li><span style="font-family: verdana,geneva;">
        przebarwienia i odbarwienia</span></li>
    <li><span style="font-family: verdana,geneva;">
        szorstki,zrogowaciały naskórek</span></li>
    <li><span style="font-family: verdana,geneva;">
        odmłodzenie skóry i likwidacja delikatnych zmarszczek</span></li>
    <li><span style="font-family: verdana,geneva;">
        wiotkoć skóry</span></li>
</ul>
<p>
    <span style="font-family: verdana,geneva;"><span style="font-size: small;
        text-decoration: underline;">Wpływ mikrodermabrazji na skórę:</span></span></p>
<ul>
    <li><span style="font-family: verdana,geneva;">
        poprawa jakości skóry(struktury i kolorytu)</span></li>
    <li><span style="font-family: verdana,geneva;">
        zwiększenie elastyczności</span></li>
    <li><span style="font-family: verdana,geneva;">
        zmniejszenie rozszerzonych porów</span></li>
    <li><span style="font-family: verdana,geneva;">
        spłycenie powierzchownych zmarszczek, wgładzenie skóry</span></li>
    <li><span style="font-family: verdana,geneva;">
        usunięcie przebarwień skóry</span></li>
    <li><span style="font-family: verdana,geneva;">
        zmniejszenie łojotoku</span></li>
    <li><span style="font-family: verdana,geneva;">
        skóra świeższa i młodsza</span></li>
</ul>
<p>
    <span style="font-family: verdana,geneva;">Peeling
        kawitacyjny czyli oczyszczanie skóry za pomocą
            wibracji ultradźwiękowej, wzbogacone o mikromasaż, który poprawia mikrokrążenie
            i dotlenienie komórkowe oraz zwiększa penetrację substancji aktywnych w głąb skóry.
            Pozwala na dokładne usunięcie nadmiaru sebum z porów i mieszków włosowatych, pozbycie
            się zaskórników, wągrów i bakterii. Wygładza skórę, doskonale nawilża i stymuluje
            naturalne nawodnienie oraz zmiękcza naskórek. Działa kojąco i regenerująco na skórę.</span></p>
