@model Greg.Estetica.Core.Model.PriceList.PriceList

@{
    ViewBag.Title = "PriceList";
}
<div id="priceListContainer" class="contentContainer">
    @foreach (var group in Model.PriceGroups)
    {
        <h3>@group.GroupName</h3>
        <div>
            <table class="priceListTable">
                <tr >
                    <th class="priceListTable">Zabieg</th>
                    <th class="priceListTable">Cena</th>
                </tr>
                @foreach (var item in group.PriceList)
                {
                    <tr>
                        <td class="priceListTableLeft">
                            @item.Description
                        </td>
                        <td class="priceListTableRight">
                            @item.Price
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
<div>
    <p style="height: 30px"></p>
</div>
