@{
    ViewBag.Title = "PriceList";
}

<h2>PriceList</h2>
<div id="priceListContainer">
    <h3>Section 1</h3>
    <div>
        <p>A</p>
    </div>
    <h3>Section 1</h3>
    <div>
        <p>B</p>
    </div>
    <h3>Section 1</h3>
    <div>
        <p>C</p>
    </div>
    <h3>Section 1</h3>
    <div>
        <p>D</p>
    </div>
</div>