@model Greg.Estetica.Core.Model.Promotion

<ul class="style1">
    
    @foreach(var item in Model.Promotions)
    {
        <li style="height: 90px">
        <div class="image-style3">
            <span>
                <img src=@Url.Content(item.ImagePath) width="66" height="69" alt="" /></span>
            <div class="thumbnails">
            </div>
        </div>
        <h3><span>@item.Title</span></h3>
        @item.Description    
        <a href="@item.Link">More &#8230;</a>
    </li>
    }
</ul>
