@{
    ViewBag.Title = "Promotion";
}
<style type="text/css" media="screen">
    .slides_container
    {
        width: 545px;
        height: 450px;
    }

        .slides_container div
        {
            width: 545px;
            height: 450px;
            display: block;
        }
</style>
<script>
    $(function () {
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            play: 5000,
            pause: 2500,
            hoverPause: true
        });
    });
	</script>
<div id="container">
    <div id="example">
        <div id="slides">
            <div class="slides_container">
                <div style="background-color: yellowgreen">
                    <h3>AAAAAAAAAAAAAAAAAAAA</h3>
                </div>
                <div style="background-color: yellowgreen">
                    <h3>AAAAAAAAAAAAAAAAAAAA</h3>
                </div>
            </div>
            <a href="#" class="prev">
                <img src="../../Images/Slides/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
            <a href="#" class="next">
                <img src="../../Images/Slides/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
        </div>
        <img src="../../Images/Slides/example-frame.png" width="739" height="341" alt="Example Frame" id="frame">
    </div>
</div>


