@{
    ViewBag.Title = "Promotion";
}

<script>
    $(function () {
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            play: 5000,
            pause: 2500,
            hoverPause: true
        });
    });
	</script>
<div id="container">
    <div id="example">
        <div id="slides">
            @*CONTAINER*@
            <div class="slides_container">
                <div class="promotionCard">
                    <table class="promotionCardTable">
                        <!-- Pierwszy wiersz -->
                        <tr>
                            <td class="promotionCardTableFR" colspan="2">
                                <h1><span>!!! PROMOCJA !!!</span></h1>
                            </td>
                        </tr>
                        
                        <!-- Drugi wiersz -->
                        <tr>
                            <td class="promotionCardTableSR1">
                                <h1>AAA</h1>
                            </td>
                            <td class="promotionCardTableSR2">
                                <p>AAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAA AAAAAAAAAAAAAAA</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="promotionCard">
                    <table class="promotionCardTable">
                        <!-- Pierwszy wiersz -->
                        <tr>
                            <td class="promotionCardTableFR" colspan="2">
                                <h1><span>!!! PROMOCJA !!!</span></h1>
                            </td>
                        </tr>
                        
                        <!-- Drugi wiersz -->
                        <tr>
                            <td class="promotionCardTableSR1">
                                <h1>AAA</h1>
                            </td>
                            <td class="promotionCardTableSR2">
                                <p>AAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAA AAAAAAAAAAAAAAA</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="promotionCard">
                    <table class="promotionCardTable">
                        <!-- Pierwszy wiersz -->
                        <tr>
                            <td class="promotionCardTableFR" colspan="2">
                                <h1><span>!!! PROMOCJA !!!</span></h1>
                            </td>
                        </tr>
                        
                        <!-- Drugi wiersz -->
                        <tr>
                            <td class="promotionCardTableSR1">
                                <h1>AAA</h1>
                            </td>
                            <td class="promotionCardTableSR2">
                                <p>AAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAA AAAAAAAAAAAAAAA</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            @*------------------------------------------------------------------------*@
            <a href="#" class="prev">
                <img src="../../Images/Slides/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
            <a href="#" class="next">
                <img src="../../Images/Slides/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
        </div>
    </div>
</div>
<p style="height: 190px"></p>


