<div id="sidebox">
        <div class="bgtop">
            <div class="bgbtm">
                <div class="box-style2">
                    <h2 class="title">
                        <span>Promocje</span> i newsy</h2>
                        @{Html.RenderAction("Promotions", "Home");}
                </div>
            </div>
        </div>
    </div>