@{
    ViewBag.Title = "Statistics";
}

<div style="height: 820px"><script charset="UTF-8" src="http://edodatki.pl/code/tablica-statystyk?data%5BWidget%5D%5Bdescription%5D=Statystyki&data%5BWidget%5D%5Burl%5D=http%3A%2F%2Fwww.estetica.rybnik.pl&data%5BWidget%5D%5Bstyle%5D=style_1&data%5BWidget%5D%5Bcss%5D=red&data%5BWidget%5D%5Bcolor%5D=%23ffffff&data%5BWidget%5D%5Bicons%5D=1&data%5BWidget%5D%5Btypes%5D%5B%5D=pageviews&data%5BWidget%5D%5Btypes%5D%5B%5D=pageviews_day&data%5BWidget%5D%5Btypes%5D%5B%5D=visits&data%5BWidget%5D%5Btypes%5D%5B%5D=visits_day&data%5BWidget%5D%5Btypes%5D%5B%5D=people" type="text/javascript"></script><a href="http://eszkola.pl/jezyk-polski/maly-ksiaze-2333.html" title="mały książe streszczenie">mały książe streszczenie</a><a href="http://edodatki.pl/widget/tablica-statystyk" title="Statystyki zbiorcze na stronę">Statystyki zbiorcze na stronę</a></div>